<!-- this page is for udpating the long url of one particular url -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit</title>
  <style>
    th {text-align: left}
  </style>
</head>
<body>
    <%- include ./partials/_header.ejs %>
    <% if (!user) { %>
      <h3>Please log in or register to udpate your urls.</h3>
    <% } else if (!urls[shortURL]) { %>
      <h3>The shortURL does not exist. </h3>
    <% } else if (urls[shortURL].userID === user.id) { %>
    <!-- present the short url -->
    <p><%= "ShortURL: " + shortURL %></p>
    <!-- present table with url details -->
    <table style="width:35%">
      <tr>
        <th>
          <!-- present the short url -->
          <form method="POST" action="<%= "/urls/" + shortURL
            + "?_method=PUT" %>">
            <label for="longURL">Enter a URL:</label>
            <!-- input field for updating the long url -->
            <input id="longURL" type="text" name="longURL" placeholder="<%= urls[shortURL].longURL %>" style="width: 300px">
            <!-- Update button -->
            <input type="submit" value="Update">
          </form>
        </th>
      </tr>
      <tr>
        <td>
          <label>Total visits:</label>
        </td>
        <td>
          <label><%= urls[shortURL].count %></label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Unique visits:</label>
        </td>
        <td>
          <label><%= urls[shortURL].unique %></label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Unique visitors ID</label>
        </td>
        <td>
          <label>Timestamp</label>
        </td>
      </tr>
      <% for(let i = 0; i < urls[shortURL].visit.length; i++) { %>
      <tr>
        <td>
          <label><%= urls[shortURL].visit[i].id %></label>
        </td>
        <td>
          <label><%= urls[shortURL].visit[i].time %></label>
        </td>
      </tr>
      <% } %>
    </table>
    <% } else { %>
      <h3>You can only see the urls that you have registered.</h3>
    <% } %>
</body>
</html>