<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <style>
    th {text-align: left;}
  </style>
</head>
<body>
    <%- include ./partials/_header.ejs %>
    <table style="width:30%">
      <% for(var url in urls) { %>
      <tr>
        <th><%= url + " -> " %></th>
        <th><a href="<%= urls[url] %>"><%= urls[url] %></a></th>
        <th><a href="<%= "/urls/" + url %>">Edit</a></th>
        <th>
          <form method="POST" action="<%= "/urls/" + url + "/delete" %>">
            <input type="submit" value="Delete">
          </form>
        </th>
      </tr>
      <% }; %>
    </table>
</body>
</html>