<!-- this page is showing all urls currently saved in the database and provides different options to action on them -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <style>
    th {text-align: left;}
  </style>
</head>
<body>
    <%- include ./partials/_header.ejs %>
    <% if (!user) { %>
      <h3>Please log in or register to see your urls.</h3>
    <% }%>
    <table style="width:30%">
      <!-- loop through the urls and return a table with the result -->
      <% for(var url in urls) { %>
      <tr>
        <!-- the short url -->
        <th><%= url + " -> " %></th>
        <!-- link of the long url -->
        <th><a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a></th>
        <!-- edit link leading to short url details -->
        <th><a href="<%= "/urls/" + url %>">Edit</a></th>
        <!-- Delete button that will remove the particular url -->
        <th>
          <form method="POST" action="<%= "/urls/" + url + "/delete" %>">
            <input type="submit" value="Delete">
          </form>
        </th>
      </tr>
      <% }; %>
    </table>
</body>
</html>